{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a href="{{ path('admin_profile_index') }}" class="btn btn-warning"> <i class="fa fa-user"></i> Perfil completo </a>
</div>
{% block javascriptsPropios %}
   
    <script>
        $(document).ready(function(){
            $(".form-signin :input").addClass("form-control");
        })
    </script>
{% endblock %}
