{% extends 'web/dashboard.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" id="busqueda" placeholder="Digita el nombre de un amigo..." autofocus="autofocus"> 
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="btnBuscar">Buscar!</button>
			</span>
		</div><!-- /input-group -->
	</div>
	<div class="col-lg-12">
	</div>
	<div id="amigos" class="col-lg-6">
		<h3>Solicitudes por aprobar</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No.</th>
					<th>Nombres</th>
					<th>Solicitud</th>
				</tr>
			</thead>
			<tbody>
				{% for amigo in amigosPorAprobar %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ amigo.solicitante }}</td>
					<td>{% if amigo.estado == false %} <a class="btn btn-warning btn-xs" onclick="aprobarAmistad('{{ amigo.solicitante.id }}')"> <i class="fa fa-plus"></i> Aprobar!</a>{% else %} <a class="btn btn-success btn-xs"> <i class="fa fa-plus"></i> Aceptada</a>{% endif %}</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="3">No hay solicitudes pendientes</td>					
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr>
		<h3>Amigos</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No.</th>
					<th>Nombres</th>
					<th>Solicitud</th>
					<th>Público</th>
				</tr>
			</thead>
			<tbody>
				{% for amigo in amigos %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ amigo }}</td>
					<td>{% if amigo.estado == false %} <a class="btn btn-danger btn-xs"> <i class="fa fa-plus"></i> Pendiente</a>{% else %} <a class="btn btn-success btn-xs"> <i class="fa fa-plus"></i> Aceptada</a>{% endif %}</td>
					<td>{% if amigo.amigo.publico == true %}Sí{% else %}No{% endif %}</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="4">Aún no tienes amigos.</td>					
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="resultados" class="col-lg-6">
		<!--<a href="#" class="list-group-item"> Sin resultados</a>-->
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$("#btnBuscar").click(function(event){
		event.preventDefault();
		buscar();
		$("#busqueda").focus();
	})

	function buscar(){
		$('#resultados').html("");

		var nombreBuscado =  $("#busqueda").val();
		var ruta = "{{ path('buscarContactos', {'nombres': 'nombreBuscado' }) }}";
		ruta = ruta.replace("nombreBuscado", nombreBuscado);
		var settings = {
			"url": ruta,
			"method": "GET"
		}

		$.ajax(settings).done(function (response) {
			response.Resultados.forEach(function(item){
				var primerNombre = item.primerNombre;
				var segundoNombre = item.segundoNombre;
				var primerApellido = item.primerApellido;
				var segundoApellido = item.segundoApellido;

				if(segundoNombre == null)
					segundoNombre = "";
				if(segundoApellido == null)
					segundoApellido = "";

				$('#resultados').append("<a href='#' onclick='AgregarAmigo("+item.id+")' href='' id='"+ item.id +"' class='list-group-item'>"+ primerNombre + " " + segundoNombre + " " + primerApellido + " " + segundoApellido + "</a>");
			})
		});
	}

	function AgregarAmigo(id){
		if(confirm("¿Estás seguro de enviar la invitación a este contacto?")){
			var rutaAgregar = "{{ path('agregar-amigos', { 'id': 'nuevo-amigo' }) }}";
			rutaAgregar = rutaAgregar.replace('nuevo-amigo',id);
			var settingsAgregar = {
				"url": rutaAgregar,
				"method": "POST"
			}
			$.ajax(settingsAgregar).done(function (response) {

				alert("Agregado!!!");
				location.reload();
			})
		}		
	}

	function aprobarAmistad(id){
		if(confirm("¿Estás seguro aprobar esta amistad?")){
			var rutaAprobar = "{{ path('aprobar-amigos', { 'idSolicitante': 'nuevo-amigo' }) }}";
			rutaAprobar = rutaAprobar.replace('nuevo-amigo',id);
			var settingsAprobar = {
				"url": rutaAprobar,
				"method": "POST"
			}
			$.ajax(settingsAprobar).done(function (response) {

				alert("Solicitud aprobada!!!");
				location.reload();
			})
		}		
	}
</script>
{% endblock %}