{% extends 'web/dashboard.html.twig' %}

{% block body %}
<div class="container col-lg-12">
  <div class="page-header">
    <h1 id="timeline">Social</h1>
  </div>
  <ul class="timeline">

    {% for detalle in detalles %}

    <li {% if loop.index is odd %}class="timeline-inverted"{% endif %}>
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{ detalle.aspecto }}</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ detalle.fecha|date('d-M-Y') }}</small></p>
        </div>
        <div class="timeline-body">
          <p>
                {% for perfil in detalle.contacto.usuario.perfil %} {{ perfil }} {% endfor %} ha logrado: <strong><i>{{ detalle.aspecto }}</i></strong> con la persona: <strong> {{ detalle.contacto }} </strong></p>
        </div>
      </div>
    </li>

    {% else %}
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">No hay noticias</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Bienvenido</small></p>
        </div>
        <div class="timeline-body">
          <p>Parece que aún no tienes amigos!!!</p>
        </div> 
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}