{% extends 'web/dashboard.html.twig' %}

{% block body %}
<div class="container col-lg-12">
  <div class="page-header">
    <h3 id="timeline">Hola {% if is_granted('ROLE_SUPER_ADMIN') %}
                       {{ app.user }}
                    {% else %}
                        {{ app.user.perfil[0] }}
                    {% endif %} esto es lo último que ha pasado.</h3>
  </div>
  <ul class="timeline">

    {% for detalle in detalles %}

    <li {% if loop.index is odd %}class="timeline-inverted"{% endif %}>
      
      <div class="timeline-badge {{ detalle.aspecto.pasoEscalera.color }}">
        <i class="{{ detalle.aspecto.pasoEscalera.icono }}"></i>   
      </div>
      
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{ detalle.aspecto }}</h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ detalle.fecha|date('d-M-Y') }}</small></p>
        </div>
        <div class="timeline-body">
          <p>
               {% for perfil in detalle.contacto.usuario.perfil %} {{ perfil }} {% endfor %} ha avanzado en el proceso de  <strong> {{ detalle.contacto }}. </strong></p>
        </div>
      </div>
    </li>

    {% else %}
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">No hay noticias</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Bienvenido</small></p>
        </div>
        <div class="timeline-body">
          <p>Parece que aún no tienes amigos!!!</p>
        </div> 
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}